<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout}">

<form action="/salvaragendamento" method="post" layout:fragment="corpocliente" onsubmit="return validarCamposAgendamento()? true : false"
			th:object = "${objagendamento}">
		<br><br><br><br>
	
		<div class="titulocliente">
			<h3>CADASTRO DE AGENDAMENTOS</h3>
		</div>
	
	<div class="row">
		
		<div class="form-group col-md-6">
			<label for="cliente">Cliente</label>
			<select class="custom-select custom-select-lg mb-3" style="height: 40px;" th:field="*{cliente}">
			  <option th:each = "lista : ${listaclientes}" th:value = "${lista.id}" th:text = "${lista.nome}"></option>
			</select>
		</div>
		
		<div class="form-group col-md-6">
			<label for="servico">Serviço</label>
			<select class="custom-select custom-select-lg mb-3" style="height: 40px;" th:field="*{servico}">
			  <option th:each = "servico : ${listaservicos}" th:value = "${servico.id}" th:text = "${servico.descricao}"></option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-6">
			<label for="valor">Valor</label>
			<input type="text" class="form-control" id="valor" name="valor" onkeypress="$(this).mask('R$ #.###.##0,00', {reverse: true});"
				th:field = "*{valor}">
			<small id="error-valor" style="color: red;"></small>
		</div>
		
		<div class="form-group col-md-6">
			<label for="hora">Hora</label>
			<input type="text" class="form-control" id="hora" name="hora" onkeypress="$(this).mask('00:00');"
				th:field = "*{hora}">
			<small id="error-hora" style="color: red;"></small>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-12">
			<label for="observacao">Observação</label>
			<input type="text" class="form-control" id="observacao" name="observacao">
		</div>
	</div>
	
	<input type="hidden" id="id" name="id" th:field="*{id}">
	
	<button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
</form>

</html>