<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout}">
	  

<form action="/salvarcliente" method="post" layout:fragment="corpocliente" onsubmit="return validarCamposCliente()? true : false"
		th:object="${objcliente}">
		<br><br><br><br>
	
		<div class="titulocliente">
			<h3>CADASTRO DE CLIENTES</h3>
		</div>
	
	<div class="row">
		
		<div class="form-group col-md-6">
			<label for="nome">Nome</label>
			<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}">
			<small id="error-nome" style="color: red;"></small>
		</div>
		
		<div class="form-group col-md-6">
			<label for="sexo">Sexo</label>
			<select class="custom-select custom-select-lg mb-3" style="height: 40px;" id="sexo" name="sexo"
				th:field = "*{sexo}">
			  <option value="MASCULINO">Masculino</option>
			  <option value="FEMININO">Feminino</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-6">
			<label for="dataNascimento">Data de Nascimento</label>
			<input type="text" class="form-control" id="dataNascimento" name="dataNascimento" onkeypress="$(this).mask('00/00/0000')"
			 	th:field="*{dataNascimento}">
			<small id="error-data" style="color: red;"></small>
		</div>
		
		<div class="form-group col-md-6">
			<label for="telefone">Telefone</label>
			<input type="text" class="form-control" id="telefone" name="telefone" onkeypress="$(this).mask('(00) 00000-0000')"
				th:field="*{telefone}">
			<small id="error-telefone" style="color: red;"></small>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-6">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" name="email" th:field="*{email}">
			<small id="error-email" style="color: red;"></small>
		</div>
		
		<div class="form-group col-md-6">
			<label for="rg">RG</label>
			<input type="text" class="form-control" id="rg" name="rg" th:field="*{rg}">
			<small id="error-rg" style="color: red;"></small>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-6">
			<label for="endereco">Endereço</label>
			<input type="text" class="form-control" id="endereco" name="endereco" th:field="*{endereco}">
			<small id="error-endereco" style="color: red;"></small>
		</div>
		
		<div class="form-group col-md-6">
			<label for="cep">CEP</label>
			<input type="text" class="form-control" id="cep" name="cep" onkeypress="$(this).mask('00.000-000')"
				th:field="*{cep}">
			<small id="error-cep" style="color: red;"></small>
		</div>
	</div>
	
	<input type="hidden" id="id" name="id" th:field="*{id}">
	
	<button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
</form>

</html>