<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout}">

<form action="/salvarservico" method="post" layout:fragment="corpocliente" onsubmit="return validarCamposServico()? true : false"
		th:object="${objservicos}">
		<br><br><br><br>
	
	<div class="titulocliente">
			<h3>CADASTRO DE SERVIÇOS</h3>
		</div>
	
	<div class="row">
		<div class="form-group col-md-12">
			<label for="descricao">Descrição</label>
			<input type="text" class="form-control" id="descricao" name="descricao" th:field="*{descricao}">
			<small id="error-descricao" style="color: red;"></small>
		</div>
	</div>
	
	<input type="hidden" id="id" name="id" th:field="*{id}">
		
	<button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
</form>

</html>