<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout}">

<form id="pesquisarcliente" action="pesquisarcliente" method="post" layout:fragment="corpocliente">
	<div class="container">
		<br><br><br><br>
		<div>
			<div class="listaclientes" style="background: white;">
				<h3>Lista de Clientes
					<label style="font-size: 10pt; margin-right: 39%;"></label>
					<input style="font-size: 18pt;" type="text" id="nomepesquisa" name="nomepesquisa" th:value = "${nomepesquisa}">
					<button style="font-size: 18pt;" onclick="pesquisar();">Pesquisar</button>
				</h3> 
			</div>
			<table class="table table-success table-striped" style="color: black;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Sexo</th>
						<th scope="col">Data de Nascimento</th>
						<th scope="col">Telefone</th>
						<th scope="col">Editar</th>
						<th scope="col">Excluir</th>
					</tr>
				</thead>

				<tr th:each="cliente : ${listarcliente}" style="font-size: 10pt; color: black;">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.sexo}"></td>
					<td th:text="${cliente.dataNascimento}"></td>
					<td th:text="${cliente.telefone}"></td>
					<td><a
						th:href="@{/editarcliente/{id}(id=${cliente.id})}" 
						title="Editar">
						<i class="material-icons left" style="color: blue;">edit</i></a></td>
					<td><a
						th:href="@{/excluircliente/{id}(id=${cliente.id})}"
						title="Excluir" onclick="return confirmarExclusaoCliente()? true : false;">
							<i class="material-icons left" style="color: blue;">delete</i>
						</a>
					</td>
				</tr>
			</table>
		</div>
		 
			<div class="row" style="margin-top: 30px;">
				<center>
					<span th:if="${listarcliente.hasPrevious()}"> <a
						th:href="@{/clientepag(page=${listarcliente.number-1}, size=${listarcliente.size})}">Anterior</a>
					</span>

					<th:block
						th:each="i : ${#numbers.sequence(0, listarcliente.totalPages - 1)}">
						<a
							th:href="@{/clientepag(page=${i}, size=${listarcliente.size})}">[[
							${i} + 1 ]]</a>
					</th:block>

					<span th:if="${listarcliente.hasNext()}"> <a
						th:href="@{/clientepag(page=${listarcliente.number+1}, size=${listarcliente.size})}">Próximo</a>
					</span>
				</center>
			</div>
		 
	</div>
	
	
</form>

</html>